<!DOCTYPE html>
{% load staticfiles %} 
<html>
<head>
	<title>WELCOME</title>
	<link rel="stylesheet" type="text/css" href="{% static 'WebApp/css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'WebApp/css/bootstrap.css' %}">
</head> 

<body>
	<section id = header>
	<div class="container-fluid">
	  <div class="row">
			<div class="col-xs-10 col-md-8">
				<img src="{% static 'WebApp/img/uplogo.png' %}" width="50px" height="50px" align="left" class="logo"><p class="profile" align="left">Student Profile</p>
			</div>
			<!-- <div class="col-xs-10 col-md-9"><p class="profile">Student Profile</p></div> -->
			<div class="col-xs-10 col-md-1" align="right"><p>Welcome,</p></div>
			<div class="col-xs-10 col-md-2"><p class="profile">{{ user }}</p></div>
			<div class="col-xs-3 col-md-1">
				<form action="{% url 'WebApp:logout' %}">
				{% csrf_token %} 
					<button type="submit" class="btn btn-primary btn-block">Log Out</button>
				</form>
			</div>

	  </div>
	</div>

	</section>

				<div class="btn-group-vertical" role="group" aria-label="buttons">
					<form action="{% url 'WebApp:addclass' %}" method="post" target="output_frame">
						{% csrf_token %} 
						<button type="submit" class="btn btn-primary btn-block">Add Class</button>
					</form>

				<iframe name="output_frame" src="{% url 'WebApp:addclass' %}"></iframe>

			
		

	  </div>
	</div>

	

	


</body>
</html>