<!DOCTYPE html>
{% load staticfiles %} 
<html>
<head>
	<title>Log In - UPC SAIS</title>
	<link rel="stylesheet" type="text/css" href="{% static 'WebApp/css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'WebApp/css/bootstrap.css' %}">
</head> 

<body style="background-color: #4F0000">


	<div class = "login">
		<form action="{% url 'WebApp:login' %}" method="POST" id="loginForm">
			{% csrf_token %}

			<div>
				<img class = centered src="{% static 'WebApp/img/uplogo.png' %}" width="100px" height="100px">
			</div>

			<h2 class="form-signin-heading" align="center">Log In</h2>
			<div class="form-group">
				<label for="exampleInputText" class="sr-only">Student Number</label>
				<input type="text" name="student_id" class="form-control input-lg" placeholder="Student Number">
			</div>	
			<div class="form-group">
				<label for="exampleInputPassword1" class="sr-only">Password</label>
				<input type="password" name="password" class="form-control input-lg" placeholder="Password">
			</div>	
			<div class="checkbox">
				<label><input type="checkbox"> Remember me</label>
			</div>
		  	<button type="submit" class="btn btn-primary btn-block" name=login>Log In</button>
		</form>
	</div>
</body>
</html>