<!DOCTYPE html>
{% load staticfiles %} 
<html>
<head>
	<title>Student Access Information System</title>
	<link rel="stylesheet" type="text/css" href="{% static 'WebApp/css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'WebApp/css/bootstrap.css' %}">
</head>

<body>
	<div id = header>
	<div class="container-fluid">
	  <div class="row">
			<div class="col-xs-10 col-md-1">
				<img src="{% static 'WebApp/img/uplogo.png' %}" width="100px" height="100px">
			</div>
			<div class="col-xs-10 col-md-9">
				<h2>Student Access Information System</h2>
				<p class = header>University of the Philippines Cebu</p>

			</div>
			<div class="col-xs-6 col-md-2 mainbuttons">
				<form action="{% url 'WebApp:register' %}" id="register">
				{% csrf_token %}
					<button type="submit" class="btn btn-default btn-block">Register</button>
				</form>
				<br>
				<form action="{% url 'WebApp:login' %}" id="login">
				{% csrf_token %}
					<button type="submit" class="btn btn-success btn-block">Log In</button>
				</form>
			
			</div>
	  </div>
	</div>

	</div>

	<div class="jumbotron">
		<h1>WELCOME</h1>
		<p>Lorem ipsum dolor sit amet, meliore persecuti mel in, et fugit percipitur has, an sit populo recusabo pertinax. Omnesque postulant disputando qui ea. Vix vero zril forensibus at. Ne pro nobis legimus dignissim, nisl populo legendos te ius. Possit singulis vituperata duo in.

Te mel nullam numquam. Mea id sale paulo quaerendum, sit ad possim apeirian, reque aperiri reprimique ea vel. Harum erroribus id mel, elitr sententiae definiebas eos an. Prima ludus assentior id vel, errem commodo salutandi vix et. Ludus discere eruditi ut mei. Ex fugit feugiat vim, ei eius apeirian eum, id vim putant fabulas iudicabit. At paulo impedit mnesarchum sea, sit ei summo clita conceptam.

Tincidunt vituperata in usu. Denique officiis expetenda usu at, ex sit enim brute conclusionemque. An pro aliquid vulputate. Esse phaedrum voluptaria in est. Et nonumes albucius sed, nec melius placerat vituperata eu, pro simul albucius eu.

An vis dicat ubique postea. Reque libris reprimique ea mea, ei nam dissentias concludaturque, ea justo debet noster eum. At euismod saperet mel. No vis tale diceret. No quis libris nominavi sea, pro sale accumsan ad.

Prima fugit mea te, nisl commodo eu mel. Ne his elit accusamus molestiae, no oportere dissentias duo. Eu tantas adversarium dissentiunt pro, id vis agam quodsi invidunt, eruditi debitis repudiare per an. Usu oporteat perpetua scriptorem te, doming corrumpit expetendis vim at. Vis in oblique graecis. Accusata mandamus in per, ei usu brute probatus sensibus.</p>
		<p><a class="btn btn-primary btn-lg" href="http://www.lipsum.com/" role="button">Learn more</a></p>
	</div>

</body>
</html>