<!DOCTYPE html>
{% load staticfiles %} 
<html>
<head>
	<title>Student Access Information System</title>
	<link rel="stylesheet" type="text/css" href="{% static 'WebApp/css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'WebApp/css/bootstrap.css' %}">
</head>

<body>
	<div id = header>
	<div class="container-fluid">
	  <div class="row">
			<div class="col-xs-10 col-md-1">
				<img src="{% static 'WebApp/img/uplogo.png' %}" width="100px" height="100px">
			</div>
			<div class="col-xs-10 col-md-9">
				<h2>Student Access Information System</h2>
				<p class = header>University of the Philippines Cebu</p>

			</div>
			<div class="col-xs-6 col-md-2 mainbuttons">
				<form action="{% url 'WebApp:register' %}" id="register">
				{% csrf_token %}
					<button type="submit" class="btn btn-default btn-block">Register</button>
				</form>
				<br>
				<form action="{% url 'WebApp:login' %}" id="login">
				{% csrf_token %}
					<button type="submit" class="btn btn-success btn-block">Log In</button>
				</form>
			
			</div>
	  </div>
	</div>

	</div>

	<div class="jumbotron">
		<h1>WELCOME</h1>
		<p>UPDATES WILL BE INSERTED</p>
		<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
	</div>

</body>
</html>