<!DOCTYPE html>
{% load staticfiles %} 
<html>
<head>
	<title>SAIS - Registration</title>
	<link rel="stylesheet" type="text/css" href="{% static 'WebApp/css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'WebApp/css/bootstrap.css' %}">
</head> 

<body>

	<nav class="navbar navbar-default navbar-fixed">
	  	<div class="container-fluid">
		    <div class="navbar-header">
		    	<a class="navbar-brand" href="#">
		    		<img alt="Brand" src="{% static 'WebApp/img/uplogo.png' %}" width="50px" height="50px">
		    	</a>
		    	<p class="navbar-text">Registration Form</p>
		    </div>
	  	</div>
	</nav>


	<div class="containerstyle">
			<form action="{% url 'WebApp:register' %}" method="POST">
			{% csrf_token %}
				<ul class="nav no-list">
					<label>Student Number: </label>
					<input class="form-control" type="text" name="student_id"> 
					 <br><label>First Name: </label>
					<input class="form-control" type="text" name="fname"> 
					 <br><label>Middle Name: </label>
					<input class="form-control" type="text" name="mname"> 
					 <br><label>Last Name: </label>
					<input class="form-control" type="text" name="lname"> 
					 <br><label>Address: </label>
					<input class="form-control" type="text" name="address"> 
					 <br><label>Email Address: </label>
					<input class="form-control" type="text" name="email"> 
					 <br><label>Gender: </label>
					<input class="form-control" type="text" name="gender"> 
					 <br><label>Marital Status: </label>
					<input class="form-control" type="text" name="maritalstatus"> 
				</ul>
				<br>
				<br>
				<ul class="nav no-list">
					 <br><label>Course: 
					<input class="form-control" type="text" name="course"> 
					 <br><label>Year: 
					<input class="form-control" type="text" name="year"> 
					 <br><label>STS Bracket: 
					<input class="form-control" type="text" name="sts_code"> 
				</ul>
				<br>
				<br>

				<ul class="nav no-list">
					 <br><label>Password: <input class="form-control" type="password" name="password"> 
					 <br><label>Input Password Again: <input class="form-control" type="password" name="passwordagain"> 
				</ul>
				<button type="submit" name="register" class="btn btn-default">Submit</button>
			</form>


		
	</div>


</body>
</html>
